# Configurações da API
API_PORT=8001

# Configurações do banco de dados
DB_HOST=host_postgres
DB_PORT=bd_porta
DB_NAME=bd_postgres
DB_USER=usuario_postgres
DB_PASS=senha_postgres

# Configurações de Processamento
BATCH_SIZE=20
MAX_CONCURRENT_TASKS=1
QUEUE_CHECK_INTERVAL=60
QUEUE_UPDATE_INTERVAL=60