[Unit]
Description=Google Maps Scraper API
After=network.target

[Service]
User=seu_usuario
WorkingDirectory=/caminho/para/sua/aplicacao
ExecStart=/usr/bin/python3 -m api
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PATH=/caminho/para/seu/ambiente/virtual/bin"

[Install]
WantedBy=multi-user.target
